<a href="https://colab.research.google.com/github/aminKMT/Interview-DataScience-Algorithem/blob/main/Algorithm_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1: Two sum. Given an array and a number N, return True if there are numbers A, B in the array such that A + B = N. Otherwise, return False.

[1, 2, 3, 4], 5 ⇒ True
[3, 4, 6], 6 ⇒ False

Mwthod 1; using two for loop:

In [ ]:
def two_sum(numbers, target):
    n = len(numbers)

    for i in range(n):
        for j in range(i + 1, n):
            if numbers[i] + numbers[j] == target:
                return True

    return False

In [ ]:
two_sum([1,2,3,4], 10)

False

Method 2: Using combination form itertool library:

In [ ]:
from itertools import combinations

def two_sum(numbers, target):
    for elem in combinations(numbers, 2):
        if elem[0] + elem[1] == target:
            return True
    return False

'pen'

Question 2: 2) Fibonacci. Return the n-th Fibonacci number, which is computed using this formula:

F(0) = 0
F(1) = 1
F(n) = F(n-1) + F(n-2)
The sequence is: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

Method 1:

In [ ]:
def fibonacci(n):
  if n == 0 or n==1:
    return n
  else:
    return fibonacci(n-1)+fibonacci(n-2)

In [ ]:
def fibonacci2(n):
  base1, base2 = 0, 1
  for i in range(n):
    base1, base2 = base2, base1+base2
  return base1

In [ ]:
#Why it's slow (Exponential complexity):
#It recalculates the same numbers multiple times.
#@For example, calculating fibonacci(5) breaks down like this:

                    fibonacci(5)
                   /            \
          fibonacci(4)        fibonacci(3)
         /         \            /       \
    fibonacci(3) fibonacci(2) fibonacci(2) fibonacci(1)
     /     \        /     \        /   \
    f(2)  f(1)   f(1)  f(0)    f(1)  f(0)
    /   \
  f(1) f(0)

Question 3) Most frequent outcome. We have two dice of different sizes (D1 and D2). We roll them and sum their face values. What are the most probable outcomes?

In [ ]:
from itertools import combinations

a = [1,2,3,4,5,6]
for elem in combinations(a, 2):
  d =  elem[0] + elem[1]
  print(f"{elem}, {d}")

In [ ]:
from itertools import product
a = [1,2]
b = [1,2,3,4]

for elem in product(a, b):
  d = elem[0] + elem[1]
  print (f"{elem} = {d}")

In [ ]:
for i in range(1,5):
  print(i)

In [ ]:
def most_frequent_outcome(d1, d2):
    len_ans = abs(d1 - d2) + 1 # Indicates the number of highest frequency sum outputs.
    mi = min(d1, d2)
    ans = [mi + i for i in range(1, len_ans + 1)] # Range (1, 5) : 1,2,3,4
    return ans

In [ ]:
most_frequent_outcome(6, 6)

[7]

Question 4 :Reverse a linked list. Write a function for reversing a linked list.

The definition of a list node: Node(value, next)
Example: a -> b -> c ⇒ c -> b -> a

In [ ]:
'''Understanding the problem:

a, b, c
c, b, a
iteration 1:
a.next = last = None
last = a
point = b

iteration 2:
b.next = last = a
last = b
point = b.next = c

iteration 3 :
c.next = last = b
last = c
point = c.next = None

return  c

In [ ]:
from ast import Break
# let's make the Node class to test the function later:
class Node:
  def __init__(self, value):
    self.value = value
    self.next = None

  def path_print(self):
    while self is not None:
       if self.next is not None:
         print(self.value, end = " -> ")
         self = self.next
       else:
         print(self.value)
         break
    print("")

    # Make the reverse maker:
  def reverse_ll(self):
      head = self
      if head is None or head.next is None:  # If the list is empty or has one node, return it
        return head

      last = None  # Previous node
      point = head # Curremt node
      while point is not None:
        point.next, last, point = last, point, point.next # Swap pointers
      return last # Return the new head of the reserved list

a -> b -> c

c -> b -> a

In [ ]:
# Testing the reverse maker function:


a = Node("a")
b = Node("b")
c = Node("c")

a.next = b
b.next = c

a.path_print()
new_head = a.reverse_ll()
new_head.path_print() # or c.path_print()

Question 5) Flip a binary tree. Write a function for rotating a binary tree.

The definition of a tree node: Node(value, left, right)
![image.png]()

In [15]:
# define the Node Class

class Node:
    def __init__(self, value):
        self.value = value
        self.left = None
        self.right = None


def flip_tree(node):
 if node is not None:
  node.left, node.right = node.right, node.left
  flip_tree(node.left)
  flip_tree(node.right)


def print_tree(node, level=0, label="Root:"):
    """Recursively prints the binary tree in a visually indented format."""
    if node is not None:
        # Print current node with indentation
        print(" " * (level * 4) + f"{label} {node.value}")
        # Recursively print left and right subtrees
        print_tree(node.left, level + 1, "L---")
        print_tree(node.right, level + 1, "R---")


ten = Node(10)
one = Node(1)
twenty= Node(20)
fifteen = Node(15)
therty = Node(30)
twelwe = Node(12)
seventeen = Node(17)

ten.left = one
ten.right = twenty
twenty.left = fifteen
twenty.right = therty
fifteen.left = twelwe
fifteen.right = seventeen

print("Original Tree:")
print_tree(ten)
print('flipped tree')
flip_tree(ten)
print_tree(ten)

Original Tree:
Root: 10
    L--- 1
    R--- 20
        L--- 15
            L--- 12
            R--- 17
        R--- 30
flipped tree
Root: 10
    L--- 20
        L--- 30
        R--- 15
            L--- 17
            R--- 12
    R--- 1