<a href="https://colab.research.google.com/github/aminKMT/Interview-DataScience-Algorithem/blob/main/DataScience_Interview__Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) FizzBuzz. Print numbers from 1 to 100

If it’s a multiplier of 3, print “Fizz”
If it’s a multiplier of 5, print “Buzz”
If both 3 and 5 — “Fizz Buzz"
Otherwise, print the number itself
Example of output: 1, 2, Fizz, 4, Buzz, Fizz, 7, 8, Fizz, Buzz, 11, Fizz, 13, 14, Fizz Buzz, 16, 17, Fizz, 19, Buzz, Fizz, 22, 23, Fizz, Buzz, 26, Fizz, 28, 29, Fizz Buzz, 31, 32, Fizz, 34, Buzz, Fizz, ...

Nore 1: for i  in range(1,101):
 print(i) will give you numbrs from 1 to 100

Note 2: Explanation of %:
% (Modulo Operator)
The modulo operator % returns the remainder when one number is divided by another.
For example:
10 % 3 returns 1 because 10 ÷ 3 = 3 with a remainder of 1.
15 % 5 returns 0 because 15 ÷ 5 = 3 with no remainder.

In [ ]:
for i  in range(1,101):
  if i % 3 == 0 and i % 5 == 0 :
    print('Fizz Buzz')
  elif i % 3 == 0:
    print('Fizz')
  elif i %  5 == 0 :
    print('Buzz')
  else:
    print(i);

2) Factorial. Calculate a factorial of a number

factorial(5) = 5! = 1 * 2 * 3 * 4 * 5 = 120
factorial(10) = 10! = 1 * 2 * 3 * 4 * 5 * 6 * 7 * 8 * 9 * 10 = 3628800

In [ ]:
# solution 1:

def factorial(number):
  result = 1
  for i in range(2, number +1):
    result *= i
  return result

factorial(5)

In [ ]:
# Solition 2
# except 0 and 1 we know that factorial of each niteger number equals the number times factorial of that number minus one.

def factorial2(number: int):
  if number == 0 or number == 1:
    return 1
  else:
    return number * factorial2(number - 1)


factorial2(3)

6

3) Mean. Compute the mean of number in a list

mean([4, 36, 45, 50, 75]) = 42
mean([]) = NaN (use float('NaN'))



![image.png]()

In [44]:
# Method 1:
def simple_mean(numbers):
  result  = 0
  for  i in range(len(numbers)):
     result += numbers[i]
  return result / len(numbers)

simple_mean([1,2,3,4])

2.5